.WeWantToKnow__content{
  background: #121212;

  .WeWantToKnow__content--title{
    font-size: 72px;
    font-weight: bold;
    font-family: Lexend;
    text-align: left;

    color: #FFFFFF;
    margin: 0;
  }

  .WeWantToKnow__content--description{
    font-family: Lexend;
    font-size: 22px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
  }
}
