.cardSustainability__h4{
  display: inline;
  
  padding: 5px 10px;
  font-size: 18px;
  line-height: 32px;
  font-family: Lexend;
  font-weight: normal;

  border-radius: 16px;
  color: #FFFFFF !important;

  font-family: 'Lexend';
}