.containerConnectingPeople{
  font-family: Lexend;

  .containerConnectingPeople__h3{
    color: #121212;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin-top: 90px;
    margin-bottom: 32px;
  }

  .containerConnectingPeople__p{
    color: #60646C;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 50px 0;
  }
}

.imagesMobile{
  overflow-x: visible !important;
}