.title__h3{
    margin-top: 131px;
    margin-bottom: 61px;

    font-family: 'Lexend';
    font-size: 48px;
    font-weight: 1000;
    line-height: 56px;
    color: #121212;
}

.container__content{
    font-size: 22px;
    font-family: Lexend;
    color: #60646C;
    line-height: 36px;
}

.BePartOfIt__simple__adjust {
    padding-bottom: 70px;
    border-bottom: 1px solid #BAC7D3;
}

@media only screen and (max-width: 992px){
    .title__h3{
        margin-top: 60px;
        margin-bottom: 30px;
    
        font-family: 'Lexend';
        font-size: 36px;
        font-weight: 1000;
        line-height: 48px;
        color: #121212;
    }
    
    .container__content{
        margin-bottom: 30px !important;

        font-size: 18px;
        font-family: 'Lexend';
        color: #60646C;
        line-height: 26px;
    }

    .BePartOfIt__simple__adjust {
        padding-bottom: 30px;
        border-bottom: 1px solid #BAC7D3;
    }
}