.cardSustainability{
  background: #FFFFFF;
  padding: 25px 20px 35px 25px;
  font-family: 'Lexend';
  font-size: 18px !important;
  box-shadow: 0px 0px 12px #0000001F;
  margin-bottom: 5px;
  
  .cardSustainability__h3{
    color: #121212;
    text-align: left;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 34px;

    margin: 12px 0 0 0;
  }

  .cardSustainability__description{
    color: #60646C;
    font-size: 18px;
    line-height: 32px;

    margin: 9px 0 0 0;
    text-align: left;
  }
}