.inputForm {
  margin-top: 40px;
  height: 40px;
  width: 100%;
  position: relative;
  font-size: 14px;

  textarea {
    height: 120px !important;
  }

  input, textarea {
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bac7d3;
    font-family: "Lexend";
    font-size: 18px;
    color: #6f6f6f;

    &:focus {
      outline: none;
      border-bottom: 1px solid #ffffff;
    }
    &:focus ~ label {
      transform: translateY(-20px);
      font-size: 12px;
      color: #ffffff;
      bottom: 0px;
      left: 0px;
    }
    &:valid ~ label {
      transform: translateY(-20px);
      font-size: 12px;
      color: #FFF !important;
    }
  }


  label {
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    left: 10px;
    color: #6f6f6f;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: "Lexend";
    font-size: 16px;

  }
}
